<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Salesforce Embedded Surveys Test Site</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Style -->
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/b6e13b7e90.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Modal -->
    <div
      class="modal custom"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
      data-keyboard="false"
      data-backdrop="static"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div style="float: right">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <iframe
              id="myIframe"
              src="https://sdodemo-main-166ce2cf6b6-172-1799f336a27.force.com/survey/runtimeApp.app?invitationId=0Ki5e0000000UQK&surveyName=net_promoter_score&UUID=f160f244-0c93-4ffe-a9ff-4b80fb6d92d8"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="index-container">
      <img src="<%= background%>" style="width: 100%; height: auto" />
      <div id="salesforce-surveys"></div>
    </div>
    <button
      type="button"
      class="btn btn-dark float"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      + Feedback
    </button>
    <script src="/helper.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
