<!DOCTYPE html>
<html>
  <head>
    <title>Salesforce Embedded Surveys Test Site</title>

    <!-- Style -->
    <link rel="stylesheet" href="/style.css" type="text/css" />
  </head>
  <body>
    <div class="index-container">
      <img src="<%= background%>" style="width: 100%; height: auto" />
      <div id="salesforce-surveys"></div>
    </div>
  </body>
</html>
