<!DOCTYPE html>
<html>
  <head>
    <title>Salesforce Embedded Surveys Test Site</title>

    <!-- Style -->
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <script
      src="https://kit.fontawesome.com/b6e13b7e90.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="index-container">
      <img src="<%= background%>" style="width: 100%; height: auto" />
      <div id="salesforce-surveys"></div>
    </div>
  </body>
  <a href="#" class="float">
    <!-- <i class="fa fa-envelope my-float"></i> -->
    <i class="far fa-comment-alt fa-5x"></i>
  </a>
  <div class="label-container">
    <div class="label-text">Feedback</div>
    <i class="fa fa-play label-arrow"></i>
  </div>
</html>
