<!DOCTYPE html>
<html>
  <head>
    <title>Salesforce Embedded Surveys Test Site</title>

    <!-- Style -->
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="index-container">
      <img src="<%= background%>" style="width: 100%; height: auto" />
      <div id="salesforce-surveys"></div>
    </div>
  </body>
  <a href="#" class="float">
    <!-- <i class="fa fa-envelope my-float"></i> -->
    <i class="far fa-comment-alt"></i>
  </a>
  <div class="label-container">
    <div class="label-text">Feedback</div>
    <i class="fa fa-play label-arrow"></i>
  </div>
</html>
