div.index-container {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-repeat: no-repeat;
  /**background-size: 100%;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img {
  z-index: -1;
}

/**
html {
  background: url("../background.jpg") center center #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
}

**/

.label-container {
  position: fixed;
  bottom: 75px;
  right: 120px;
  display: table;
  visibility: hidden;
}

.label-text {
  color: #fff;
  background: rgba(51, 51, 51, 0.5);
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  border-radius: 3px;
}

.label-arrow {
  display: table-cell;
  vertical-align: middle;
  color: #333;
  opacity: 0.5;
}

.float {
  position: fixed;
  width: 155px;
  height: 50px;
  bottom: 30px;
  right: 40px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  border-radius: 50px;
  text-align: center;
}

.my-float {
  margin-top: 24px;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container {
  visibility: visible;
  opacity: 1;
}

.modal.custom .modal-dialog {
  width: 50%;
  height: 500px;
  position: fixed;
  bottom: 100px;
  right: 30px;
  margin: 0;
}

.modal-body {
  height: 495px;
  width: 100%;
}

.modal-backdrop {
  display: none !important;
}
.modal-open .modal {
  width: 20%;
  margin: 0 auto;
}

.modal-open {
  overflow-y: auto;
}

iframe {
  width: 100%;
}
