html,
body {
  height: auto;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

div.index-container {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  background-repeat: no-repeat;
  /**background-size: 100%;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/**
html {
  background: url("../background.jpg") center center #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

